{% extends 'webapp/base.html' %}
{% load static %}
{% block content %}
    <body>

        <br>
        <br>

        <div class="text-center">

            <h3 style="margin-top: -20px;"> ProjectX... Management at it's finest! </h3>

            <br>

            <h5 style="margin-top: -10px;"> Keep track of your records effectively! </h5>

            <hr>
            <br>

            <!-- <div>
                <a class="btn btn-primary" type="button" href="{% url 'register' %}"> Create your account &nbsp; <i class="fa-solid fa-arrow-right-to-bracket" aria-hidden="true"></i> </a>
            </div> -->
            
            <img src="{% static 'images/home_page.jpg' %}" alt="Project Management" class="img-fluid" style="width: 50%; height: auto; margin-top: 10px;">
        </div>

    </body>
{% endblock %}